<!-- <p><a href="liste_film.php">Liste des films (édition / suppression)</a></p>
<p><a href="add_film.php">Ajouter un film</a></p>
<p><a href="liste_acteur.php">Liste des acteurs (édition / suppression)</a></p>
<p><a href="add_acteur.php">Ajouter un acteur</a></p> -->
<ul>
	<li><a href="liste_film.php">Liste des films</a></li>
	<li><a href="add_film.php">Ajouter un film</a></li>
	<li><a href="liste_acteur.php">Liste des acteurs (édition / suppression)</a></li>
	<li><a href="add_acteur.php">Ajouter un acteur</a></li>
</ul>