			<p><a href="route.php?page=liste_film">Liste des films (édition / suppression)</a></p>
			<p><a href="route.php?page=add_film">Ajouter un film</a></p>
			<p><a href="route.php?page=liste_acteur">Liste des acteurs (édition / suppression)</a></p>
			<p><a href="route.php?page=add_acteur">Ajouter un acteur</a></p>
			<p><a href="route.php?page=logout">Déconnection</a></p>
